<mat-card style="margin: auto 10px;" [class.mat-elevation-z0]="true">
	<mat-card-title>
		<h2>Settings</h2>
	</mat-card-title>
	<mat-card-content *ngIf="settings">
		<mat-card class="card-settings" [class.mat-elevation-z2]="true">
			<mat-card-subtitle>Edit the <strong>color of emotions</strong></mat-card-subtitle>
			<mat-card-content>
				<mat-chip-list #chipList aria-label="Emotion-color selection">
					<mat-chip
						*ngFor="let emotion of settings.customEmotions"
						[background]="emotion.color.rgba.value"
					>
						{{ emotion.emoji }} {{ emotion.text }}
						<mat-icon
							matChipTrailingIcon
							(click)="
								utils.openSnackBar(emotion.text, emotion.emoji); openDialog(emotion)
							"
							>edit</mat-icon
						>
					</mat-chip>
				</mat-chip-list>
			</mat-card-content>
		</mat-card>
		<mat-card class="card-settings" [background]="settings.theme.primary.rgba.value">
			<mat-card-subtitle> Edit the <strong>theme</strong> </mat-card-subtitle>
			<mat-card-content>
				<mat-radio-group [(ngModel)]="settings.theme" color="primary">
					<mat-radio-button
						*ngFor="let theme of themes"
						class="radio-button"
						[value]="theme"
						>{{ theme.name | titlecase }}</mat-radio-button
					>
				</mat-radio-group>
			</mat-card-content>
		</mat-card>
	</mat-card-content>
	<mat-card-actions>
		<button mat-stroked-button (click)="saveSettings()">Save settings</button>
		<button
			[disabled]="settings == defaultSettings"
			mat-stroked-button
			color="warn"
			(click)="resetSettings()"
		>
			Reset settings
		</button>
	</mat-card-actions>
</mat-card>
