#calendar
    width: 400px
#calendar-view,#notes-view
    display: inline-table
    width: 50%
.card-note
    margin: 10px 
.card-note-text
    text-align: left
.card-note-emoji-date
    text-align: right

.radio-button
    margin: auto 10px

.card-note
    .angry
        background: #db642d
    .energetic    
        background: #ffd740
    .happy
        background: #95fc95
    .neutral
        background: #eeeeee
    .relaxed
        background: #da6ec8
    .sad
        background: #3ec3ec
    .sick
        background: #b4843d