<mat-card align="center" [class.mat-elevation-z0]="true">
	<mat-card-title>
		<h2>
			Stastistics
			<button mat-icon-button>
				<mat-icon
					#tooltip="matTooltip"
					matTooltip="Click to know how these statistic are calculated"
					matTooltipPosition="above"
					matTooltipShowDelay="1000"
					(click)="openDialog()"
					>info</mat-icon
				>
			</button>
		</h2>
	</mat-card-title>
	<mat-card-subtitle>
		Starting date <strong>{{ startingDate | date: 'dd/MM/yyyy' }}</strong>
	</mat-card-subtitle>
	<mat-card-content>		
		<mat-card class="card-stats">
			Days recorded <strong>{{ recordsSinceStartingDate.length }}/{{ totalDays }}</strong> =
			<strong>{{ percentage }} %</strong>
			<button
				mat-icon-button
				color="primary"
				*ngIf="recordsSinceStartingDate.length < totalDays"
			>
				<mat-icon
					color="primary"
					matTooltip="Insert new records"
					matTooltipPosition="right"
					matTooltipShowDelay="1000"
					(click)="router.navigateByUrl('diary')"
					>add</mat-icon
				>
			</button>
			<button
				mat-icon-button
				*ngIf="recordsSinceStartingDate.length >= totalDays"
				matTooltip="Great! You registered every day"
				matTooltipPosition="right"
				matTooltipShowDelay="1000"
			>
				💎
			</button>

			<mat-progress-bar [value]="percentage"></mat-progress-bar>
		</mat-card>
		<mat-card class="card-graph">
			<mat-card-subtitle>
				See your data with these <strong>cool graphs!</strong>
			</mat-card-subtitle>
			<mat-card-actions>
				<!-- possibile error with undefined variable -->
				<mat-radio-group
					[(ngModel)]="type"
					(ngModelChange)="changeType(type)"
					color="primary"
				>
					<mat-radio-button
						*ngFor="let t of graphTypes"
						class="radio-button"
						[value]="t"
						>{{ t | titlecase }}</mat-radio-button
					>
				</mat-radio-group>
			</mat-card-actions>
			<mat-card-content id="chart">
				<canvas #polarArea></canvas>
			</mat-card-content>
		</mat-card>
	</mat-card-content>
</mat-card>
