<mat-card align="center" style="width: 80%; margin: auto;" class="mat-elevation-z0">
	<mat-card-content>
		<mat-card id="now" style="margin: 40px auto;">
			<mat-card-subtitle> All we have are <strong>seconds</strong> </mat-card-subtitle>
			<mat-card-content>
				<div
					[@zeroFull]="state"
					id="square-second"
					class="mat-elevation-z2"
					[background]="'#ffd740'"
				></div>
			</mat-card-content>
			<mat-card-subtitle>
				NOW
			</mat-card-subtitle>
			<mat-card-subtitle> The only thing that <strong>counts</strong>. </mat-card-subtitle>
		</mat-card>
	</mat-card-content>
</mat-card>
<mat-card align="center" style="width: 80%; margin: auto;" class="mat-elevation-z0">
	<mat-card-title>
		Don't waste time
	</mat-card-title>
	<mat-card-content>
		<button color="primary" mat-button (click)="router.navigateByUrl('calendar')">
			Create your calendar <strong>now</strong> 
			<!-- <mat-icon color="primary">calendar_today</mat-icon> -->
		</button>
	</mat-card-content>
</mat-card>
