<mat-card align="center" style="width: 80%; margin: auto;" class="mat-elevation-z20">
	<mat-card-title>
		Life Expectancies
	</mat-card-title>
	<mat-card-subtitle>
		Ranking, country, male, female and overall
	</mat-card-subtitle>
	<mat-card-content>
		<table mat-table [dataSource]="datasource" class="mat-elevation-z8" style="margin: auto;">
			<mat-text-column
				*ngFor="let col of displayedColumns"
				name="{{ col }}"
			></mat-text-column>
			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr
				[background]="'#ffd740'"
				mat-row
				*matRowDef="let row; columns: displayedColumns"
			></tr>
		</table>
	</mat-card-content>
	<mat-card-actions>
		<mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
	</mat-card-actions>
</mat-card>
